<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GCP Bread Calculator</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Bread Calculator</h1>
    <form id="bakberekening">
      <label for="aantal-broden">Aantal broden:</label>
      <select id="aantal-broden" name="aantalBroden">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
        <option value="4">4</option>
      </select>

      <label for="gewicht-brood">Gewicht per brood (g):</label>
      <select id="gewicht-brood" name="gewichtBrood">
        <option value="500">500</option>
        <option value="600" selected>600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
      </select>

      <label for="hydratie">Hydratatie (%):</label>
      <select id="hydratie" name="hydratie">
        <option value="65">65</option>
        <option value="70">70</option>
        <option value="75" selected>75</option>
        <option value="80">80</option>
      </select>

      <label for="inocculatie">Inocculatie (%):</label>
      <select id="inocculatie" name="inocculatie">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20" selected>20</option>
        <option value="25">25</option>
      </select>
      
      <label for="clean">Gebruik Clean Berekeningen:</label>
      <input type="checkbox" id="clean" name="clean">

      <button type="button" onclick="bereken()">Bereken</button>
    </form>
    
    <div id="output">
      <h2>Recept Details</h2>
      <table>
        <thead>
          <tr>
            <th>Ingrediënt</th>
            <th>Hoeveelheid (g)</th>
          </tr>
        </thead>
        <tbody id="output-body">
          <!-- Dynamische rijen worden hier toegevoegd via JavaScript -->
        </tbody>
      </table>
      <button id="opslaanKnop">Sla gegevens op</button>
    </div>



    <div id="opslag">
      <h2>Opslag</h2>
        <table>
        <thead>
          <tr>
            <th>Sleutel</th>
            <th>Aantal Broden</th>
            <th>Gewicht Brood</th>
            <th>Clean</th>
            <th>Water</th>
            <th>Desem</th>
            <th>Zout</th>
            <th>Bloem</th>
            <th>Totale Bloem</th>
            <th>Totale Water</th>
            <th>Totale Deeg</th>
            <th>Hydratatie (%)</th>
            <th>Inoculatie (%)</th>
          </tr>
        </thead>
        <tbody id="opslag-body">
          <!-- Dynamische weergave van localStorage-gegevens -->
        </tbody>
      </table>
      <button id="wisOpslagKnop">Wis alle opgeslagen gegevens</button>
    </div>
  </div>

  
  <script src="/static/js/script.js"></script>
</body>
</html>
